/* DESAIN HALAMAN FORMULIR (DONASI & LOGIN) */

   .halaman-form {
    padding: 60px 0;
    background-color: var(--bg-body); 
    min-height: 80vh; 
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-card {
    background-color: var(--white);
    width: 100%;
    max-width: 600px; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.ringkasan-donasi {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px dashed var(--border);
}

.ringkasan-donasi h2 {
    color: var(--primary); 
    margin-bottom: 10px;
}

.ringkasan-donasi p {
    color: var(--text-desc);
}

.ringkasan-donasi strong {
    color: var(--button);
    font-size: 1.1rem;
}

/* ELEMEN INPUT FORM */
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--main-text);
    font-size: 0.95rem;
}

.form-group input, 
.form-group select, 
.form-group textarea {
    padding: 12px 15px;
    border: 1px solid var(--border);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

/* Efek saat kolom isian diklik */
.form-group input:focus, 
.form-group select:focus, 
.form-group textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.2);
}

.form-group small {
    color: var(--text-desc);
    font-size: 0.8rem;
    margin-top: 5px;
}

.input-file {
    padding: 10px !important;
    background-color: var(--bg-body);
}

/* TOMBOL SUBMIT */
.btn-submit-form {
    width: 100%;
    background-color: var(--button);
    color: var(--white);
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-submit-form:hover {
    background-color: var(--button);
}

/* 
pesan sukses
*/

.pesan-sukses {
    display: none; 
    text-align: center;
    padding: 30px;
    background-color: #ECFDF5;
    border: 2px solid #10B981;
    border-radius: 10px;
    margin-top: 20px;
}

.pesan-sukses h3 {
    color: #059669;
    margin-bottom: 10px;
}

.pesan-sukses p {
    color: #047857;
    margin-bottom: 20px;
}

.btn-kembali-home {
    display: inline-block;
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
}

#berhasil:target {
    display: block;
}

#berhasil:target ~ .form-donasi {
    display: none; 
}

